/* latin */
@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/indieflower/v17/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/*Universal */
*{
    background-color: aliceblue;
    color:midnightblue;
    font-family: "Indie Flower";
}

h1{
    font-size: 50px;
}

/*Position values and meaning table*/
table {
    border-style:solid;
    border-color: lightblue;
    border-width: 3px;
    font-size: 22px;
    margin: auto;
}

th{
    background-color: lightblue;
    padding-left: 8px;
    padding-right: 8px;
}

td{
    padding-left: 8px;
    padding-right: 8px;
    border-bottom-width: 2px;
    border-bottom-color:lightblue;
    border-bottom-style: solid;
}

td:first-child{
    border-right-width: 2px;
    border-right-color: lightblue;
    border-right-style: solid;
}

/* Styling for the boxes used to show position*/
.box {
    height:40px;
    width: 85%;
    background-color: lightblue;
    border-style: solid;
    border-color:midnightblue;
    border-width: 2px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.box.static{
    position:static;
}

.box.relative{
    position:relative;
    left:50px;
}

.box.fixed{
    position: fixed;
    top: 440px;
    left: 20;
}

/*the absolute element is position relative to the big box element*/
.big{
    height:80px;
    width: 90%;
    background-color: greenyellow;
    border-style: solid;
    border-color:green;
    border-width: 2px;
    font-size: 24px;
    text-align: center;
}

.box.absolute{
    position: absolute;
    left:20px;
    top:20px;
}

.box.sticky{
    position:sticky;
    left:20px;
    top:600px;
}





